@media only screen and (max-device-width: 576px) and (min-device-width: 320px) {
  /* Responsive Selector */
  #navbar-lap {
    display: none;
  }

  #navbar-tablet {
    display: none;
  }

  #navbar-mobile {
    display: block;
  }

  .hlt-ms-auto {
    margin-left: 0;
  }

  .hlt-me-auto {
    margin-right: 0;
  }

  .hlt-bbot-primary {
    border-bottom: 1px solid var(--color-primary);
  }

  .hlt-bleft-primary {
    border-left: 0;
  }
  /* Responsive Selector */
}
